.post-form {
  display: flex;
  flex-wrap: wrap;
  gap:5%;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.post-form > button{
  margin-top: 2%;
  background-color: black;
  flex: 1;
  border-radius: 2.5%;
  border: 10px black solid;
  cursor: pointer;
  color:white;
  font-size: 1.1rem;
  font-weight: bold;
}
.post-form > button:hover{
  transition: transform .2s;
  transform: translateY(4px);
  background-color: blue;
  border-color: blue;
}
.form-input{
  margin-bottom: 2% ;
  border: none;
  border-bottom: 1px solid black;
  outline: none; /* remove the default focus outline */
  flex:1
  }