.tr-config:hover{
 background-color: aqua;
}
.tr-config{
  text-align: left;
  border-collapse: collapse;
  margin: 0px;
  width: 100%;
 }
 .chart-selector{
  width: 100%;
  height: 30px;
  text-align: center;
 }
 .pararel-buttons{
  display: flex;
  align-self: center;
  height: 100%;
  width: 80%;
  gap:4px;
 }
 tr:nth-of-type(even),tr:nth-of-type(even) > th > select {
  background-color: rgb(231, 230, 230);
 }
 th{
  font-size: 1.01rem;
  padding: 0.5%;
  margin: 0;
 }
 .th-select{
  padding: 0%;
 }
 thead > tr{
  background-color: black;
  color:white;
 }
 thead > tr > th{
  color:white;
  padding: 1% 0;
 }