.flex-horizontal { 
  display: flex;
  row-gap: 2px;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.title-chart{
margin-bottom: 0;
}
.field-selector{
  display: none;
  background-color: red;
}
