.flex-horizontal { 
  display: flex;
  row-gap: 2px;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.title-chart{
margin-bottom: 0;
}
.field-selector{
  display: none;
  background-color: red;
}
.error{
  color:red;
}
.page-title{
  background-color: #163647;
  color: white;
  text-align: left ;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 1.5%;
  text-transform: capitalize;
  }
.selector-section {
  position: absolute;
  background-color: blue;
  top: 5;
  left: 0;
  width: 200%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  z-index: 2;
}