.nav-dropdown {
  position: relative;
  text-decoration: none;
}
.dropdown{
  position: absolute; 
  background-color: #fff;
  top: 100%; 
  left: 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px; 
  padding: 0.5rem 0;
  z-index: 999 ;
  width: max-content;
  text-align: left;
}
.dropdown.right{
  left: auto;
  right: 0; 
}
.dropdown-item{
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  overflow: auto;
  text-decoration: none;
}
.dropdown-item:hover{
  background-color: aliceblue;
}
