.select-space{
  display: grid;
  grid-template-columns: repeat(2, 49.5%, minmax(200px,1fr));
  gap: 1%;
  height: fit-content;
  width: auto;
  margin: 5%;
  padding: 4%;
  z-index: 2;
}
.selector-section
{
  position: absolute;
  top: 5;
  left: 0;
  width: 500%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  z-index: 2;
}
.field{
width: fit-content;
height: 100%;}
.field:hover{
  background-color: rgba(0, 81, 153, 0.363);
}