.select-space{
  display: grid;
  grid-template-columns: repeat(2, 49.5%, minmax(200px,1fr));
  gap: 1%;
  height: fit-content;
  width: auto;
  margin: 5%;
  padding: 4%;
  z-index: 1;
}
.field{
width: fit-content;
height: 100%;}
.field:hover{
  background-color: rgba(0, 81, 153, 0.363);
}
@media only screen and (max-width:650px){
  .selector-section
  {
    width: 600%;
  }
  
}