.file-list{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-top: .3%;
  gap: 3%;
  width: 100%;
}
.config-buttons{
  display: flex;
  gap:5%;
}
.files-list div:nth-of-type(even) {
  background-color: aliceblue;
}
.delete-button{
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: red;
  border: 5px solid red;
  border-radius: 8%;
}
.delete-button:hover{
  transition: transform .2s;
  transform: translateY(4px);
  background-color: rgb(97, 2, 2);
  border: 4px solid rgb(97, 2, 2);
}
.update-button{
  background-color: rgb(25, 78, 193);
  color:white;
  font-weight: bold;
  border: 5px rgb(25, 78, 193) solid;
  border-radius: 8%;
  cursor: pointer;
}
.update-button:hover{
  transform: translateY(5px);
  transition: .2s;
  background-color: rgb(49, 140, 176);
  border-color: rgb(49, 140, 176);


}
