.hamburger-button {
  position: absolute;
  top: 10%;
  bottom: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 1.4px rgb(0, 0, 0);
  cursor: pointer;
  width: 8%;
}
.hamburger-line {
  height: 7%;
  width: 40%;
  margin-bottom: 7%;
  background-color: black;
}
@media only screen and (max-width:650px) {
  .hamburger-button{
    display: flex;
  }

}