.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  gap:8%;
}
.form-input{
  border: none;
  border-bottom: 1px solid black;
  outline: none; /* remove the default focus outline */
  flex:1
  }

.form-field{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.submit-button{
  width: 80%;
  height: 50%;
  background-color: black;
  border: 4px solid black;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  }
.submit-button:hover{
  transition: transform .2s;
 transform: translateY(4px);
 background-color: blue;
 border-color: blue;}
 .intiative-labels{
  line-height:37px;
  font-size: 1.1rem;
 }
 .pararel-buttons{
  display: flex;
  align-self: center;
  height: 100%;
  width: 80%;
  gap:4px;
 }
 .pararel-buttons > button{
  width: 50%;
  height: 100%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  }
 .delete-button{
    background-color: red;
    border: 5px solid red;
  }
  .delete-button:hover{
    transition: transform .2s;
    transform: translateY(4px);
    background-color: rgb(97, 2, 2);
    border: 4px solid rgb(97, 2, 2);
  }
@media only screen and (max-width:1060px) {
  .form{
    align-items: flex-start;
    width: 100%;
  }
  .pararel-buttons, .submit-button,.form-field{
    width: 100%;
  }

}
