.navbar{ 
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: end;
  align-items: end;
  width: auto;
  margin-bottom: 2%;
}
.navbar-items-logo { 
  display: flex;
  justify-content: flex-start;
  text-align: end;
  align-items: center;
  padding: auto;
  margin: 1% 1%;
}
.logo {
  margin-right: 5%;
}
img{
  vertical-align: bottom;
}
.navbar-items {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap:10px;
}

.nav-link {
  position: relative;
  text-decoration: none; 
  color:black
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.15s ease-in-out;
  z-index: 2;
}

.nav-link:hover::after {
  width: 100%;
}
.icon-bar{
  width: 4%;
  height: 3%;
  margin: 1px;
  background-color: black;
}
.hamburger-icon{
  background-color: red;
  display: none;
}
.navbar-items.show-links{
  display: flex;
  position: absolute;
  top:100%;
  z-index: 2;
  background-color: white;
  padding: 5%;
  border:1px solid black;
  border-radius: 5px;
}
.navbar a {
  text-transform: uppercase;
}

@media only screen and (max-width:650px) {
  .hamburger-icon{
    display: block;
  }
  .navbar-items-logo{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin:0;    
    gap:10px;
  }
  .navbar-items{
    flex-direction: column;
    gap:2px;
    display: none;
  }
  .navbar{
    align-items: flex-start;
    margin-bottom: 10px;
  }
}