main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: stretch;
  flex-direction: column;
  margin:auto;
  width: 90%;
  column-gap: 10px;
  text-align: center;
}


/*.main-part{
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  gap: 1%;
  height: fit-content;
  align-items: center;
}*/


h3{
  text-align: center;
}
h1{
  text-align: center;
}

label{
width: fit-content;
height: 100%;}
label:hover{
  background-color: rgba(0, 81, 153, 0.363);
}